

@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');




* {
  box-sizing: border-box;
}

body {
  background: transparent;
  background: url("ink.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 20px;
  font-size: 2.0rem;
  font-family: 'Raleway', sans-serif;

}



i {
  width: 26px;
}

ul {
  list-style-type: none;
}

a:hover, a:active, a:link, a:visited {
  text-decoration: none;
}

// .control-label {
//   display: none;
// }
//
