* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background: url('https://br.freepik.com/vetores-gratis/projeto-de-fundo-de-mosaico-de-triangulo-abstrato_1258560.htm') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  // background: $backgroundColor;
  font-size: 14px;
  font-size: 1.4rem;
}

h1 {
  font-size: 24px;
  font-size: 2.4rem;
}

i {
  width: 26px;
}

ul {
  list-style-type: none;
}

a:hover, a:active, a:link, a:visited {
  text-decoration: none;
}

.control-label {
  display: none;
}
